<%- include('header') -%>


<div>
    <h1>HOME</h1>
    <p><%= homePageTitle %></p>
</div>

<div>
    <h2>Day 1</h2>
    <p><%= dayItems %></p>
</div>

<div>
    <h2>Day 2</h2>
    <p><%= dayItems %></p>
</div>

<%- include('footer') -%>
