<%- include('header') -%>


<div>
    <h1>HOME</h1>
    <p><%= homePageTitle %></p>
</div>

<div>
    <h2>Day 1</h2>
    <p><%= dayItems %></p>
</div>

<% posts.forEach((post) => { %>
    <h2><%= post.title %></h2>

    <% if (post.content.length > 100) { %>
        <p>
        <%= post.content.substring(0, 100) + " ... "  %> 
        <a href="/posts/<%=post.title%>">Read more</a>
        </p>
    <% } else { %>
        <p><%= post.content %></p>
    <% } %>
<% }); %>

